.container {
  display: flex;
  position: relative;
}
.button {
  color: var(--dl-color-secondary-200);
  display: flex;
  outlinr: none;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.icon {
  width: 24px;
  height: 24px;
}
.rootClassName {
  margin-left: 35px;
}
